mywsdl/infocard.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="InfoCard">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="request">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cardNumber">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="([2-7]([0-9]{3}) ?)(([0-9]{4} ?){3})"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="response">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="cardNumber">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="([2-7]([0-9]{3}) ?)(([0-9]{4} ?){3})"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="holderNameSurname">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="^[A-Za-z]+\s[A-Za-z]+$"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="validityDate">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="(0[1-9]|1[0-2])/([0-9]{2})"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>